<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<head>
  <meta charset="utf-8">
  <title>Project 5</title>
</head>
<div class="container">

  <section class="search" id="search">
      <h1>Project 5</h1>
      <label>Place</label>
      <input id="destination" type="text" placeholder="City/Country"><br />
      <label>Leaving </label>
      <input id="start" type="date" ><br />
      <label>Returning </label>
      <input id="end" type="date" ><br />
      <button id="next">search</button>
  </section>


  <section class="results" id="results">
      <div class="cimg"><img id="img" /></div>

      <div class="result">
          <div class="titles">
              <h3>Leaving :</h3>
              <h3>Returning :</h3>
              <h3>Country:</h3>
              <h3>City:</h3>
              <h3>Weather:</h3>
              <h3>Description:</h3>


          </div>
          <div class="infos">
              <p id="leavingd"></p>
              <p id="returningd"></p>
              <p id="countryplace"></p>
              <p id="place"></p>
              <p id="weatherplace"></p>
              <p id="description"></p>
              <p id="region"></p>


              <button id="print">Print</button>
              <button id="delete">Delete</button>



          </div>
      </div>
  </section>
</div>


  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>

</body>

</html>