div.container{
    display: grid;
    justify-content: space-evenly;}

section.search{
    display:grid;
    line-height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 30px 100px 30px 100px;
} 
.search label{
    font-size: 30px;
}
button{
    font-size: 20px;
    padding: 10px;
}
button:hover{
    background-color: lightblue;
    cursor: pointer;
}

input{
    font-size: 20px;
}
/*Section of results*/
p{
    color: white;
    font-size: 16px;
    font-style: bold;

}
img#img{
    width: 30vw;
    height: 30vh;
}
div.result{
    display: flex;
}
div.infos{
    padding-left: 10%;
    line-height: 23px;
}
section.results{
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 100px 100px 0px 100px;
    background-color: rgba(69, 69, 69, 0.67);
}
.hide {
	display: none;
  }
@media only screen and (min-device-width : 320px) and (max-device-width : 900px) {
    section.search {
        display: inline;
        background: transparent;
        border: none;
    }
    .search label{
        font-size: 20px;
    }
    input{
        font-size: 15px;
        margin: 0px;
    }
    input#start{
        margin-left: 30px;
    }
    input#destination{ margin-left: 30px;}
    input#end{
        margin-left: 15px;
    }
   div.container{
       display: block;
   }
    img#img{
        width: 80vw;
        height: 40vh;
        object-fit: cover;

    }
    section.results{
        padding: 20px;
    }
}
